.tables-container{
  padding: 2rem 0;
}

.custom-button {
  background-color: #303D50 !important;
  color: white !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  gap: 0.5rem;
}

tbody, td, tfoot, th, thead, tr{
  align-content: center;
}