.tables-container{
  padding: 2rem 0;
}

.custom-button {
  background-color: #303D50 !important;
  color: white !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  gap: 0.5rem;
}

tbody, td, tfoot, th, thead, tr{
  align-content: center;
}

.tittle-container-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boton-desplegable{
  background-color: transparent !important;
  font-size: 25px !important;
  color: #303D50;
}

.item_container{
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 0 1rem;
  margin: 1rem 0;
  box-shadow: 3px 4px 5px gainsboro;
}

.boton-desplegable:hover{
  color: #697586;
  transition: all 0.3s ease-in-out;
}

.files_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.anexo_item{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #303D50;
  border-radius: 10px;
  border: 1px solid #F4F4F4;
  box-shadow: 3px 3px 5px gainsboro;
  padding: 1rem;
  cursor: pointer;
}

.file_icon_container{
  font-size: 1.5rem;
}

.anexo_item:hover{
  background-color: #303D50;
  color: white;
  transition: all 0.3s ease-in-out
}